.logo {
    bottom: -30px;
    right: 38px;
}

#resizeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    color: white;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.resize-message {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #FEDF59;
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    max-width: 90%;
}

.resize-message h2 {
    font-size: 26px;
    color: #FEDF59;
    margin-bottom: 10px;
}

.resize-message p {
    font-size: 18px;
    color: #fff;
}